* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #153667, #4e085f); */
  background-image: url(images/hinh-nen-may-tinh-4k-don-gian-ma-dep-chill.jpg);
  padding: 10px;
}
.list-container{
  padding-bottom: 10px;
}
.todo-app {
  width: 100%;
  max-width: 600px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px; 
}
.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
button{
  border: none;
  outline: none;
  padding: 15px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 10px;
}
ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: rgb(249, 228, 228);
  border-radius: 30px;
  margin-bottom: 10px;
}
ul li::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
  background-color: white;
}
ul li.checked{
  color: #555;
  /* text-decoration: line-through; */
}
ul li.checked::before{
  background-image: url(images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: #f00;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover{
  background: #fef2f2;
}

.date-time {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px; 
}

#current-date {
  font-weight: bold;
}
.todo-app h3 {
  color: #555;  
  margin-bottom: 20px; 
  font-size: 16px; 
  text-align: center; 
}
#task-count {
  color: #002765; 
  font-weight: bold; 
  margin-left: 5px;
  padding: 2px 5px; 
  background-color: #edeef0; 
  border-radius: 5px;
}
.date-time {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 18px;
}

.weather-info {
  position: absolute;
  top: 40px; 
  left: 10px;
  color: #fff;
  padding-top: 10px;
  font-size: 16px;
}

#weather-temp {
  font-weight: bold;
  margin-right: 10px;
}

#weather-description {
  font-style: italic;
}
#deadline-input {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: 0.3s;
  background-color: #f5f5f5; 
  color: #333;
}

#deadline-input:focus {
  outline: none;
  border-color: #ff5722;
  box-shadow: 0 0 5px rgba(255,87,34,0.5);
}





